In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mtp

In [4]:
df = pd.read_csv('C:/Users/maria/Downloads/Netflix Userbase.csv')

In [5]:
print(df)

      User ID Subscription Type  Monthly Revenue  Join Date Last Payment Date  \
0           1             Basic               10  1/15/2022         6/10/2023
1           2           Premium               15   9/5/2021         6/22/2023
2           3          Standard               12  2/28/2023         6/27/2023
3           4          Standard               12  7/10/2022         6/26/2023
4           5             Basic               10   5/1/2023         6/28/2023
...       ...               ...              ...        ...               ...
2495     2496           Premium               14  7/25/2022         7/12/2023
2496     2497             Basic               15   8/4/2022         7/14/2023
2497     2498          Standard               12   8/9/2022         7/15/2023
2498     2499          Standard               13  8/12/2022         7/12/2023
2499     2500             Basic               15  8/13/2022         7/12/2023

             Country  Age  Gender      Device Plan Duration
0      United States   28    Male  Smartphone       1 Month
1             Canada   35  Female      Tablet       1 Month
2     United Kingdom   42    Male    Smart TV       1 Month
3          Australia   51  Female      Laptop       1 Month
4            Germany   33    Male  Smartphone       1 Month
...              ...  ...     ...         ...           ...
2495           Spain   28  Female    Smart TV       1 Month
2496           Spain   33  Female    Smart TV       1 Month
2497   United States   38    Male      Laptop       1 Month
2498          Canada   48  Female      Tablet       1 Month
2499   United States   35  Female    Smart TV       1 Month

[2500 rows x 10 columns]

In [7]:
x=df.iloc[:,[7]].values