In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

In [ ]:
df = pd.read_csv('C:/Users/maria/Downloads/archive/bigBasket.csv')

In [ ]:
print(df)

In [27]:
df.head(6)

   Member    Order       SKU   Created On   Description
0  M09736  6468572  34993740  41904.94792  Other Sauces
1  M09736  6468572  15669800  41904.94792       Cashews
2  M09736  6468572  34989501  41904.94792    Other Dals
3  M09736  6468572   7572303  41904.94792       Namkeen
4  M09736  6468572  15669856  41904.94792         Sugar
5  M09736  6468572  15668478  41904.94792        Banana

In [28]:
df.SKU.value_counts()

SKU
15668381    1702
15668688    1540
15668460    1439
15668379    1415
15668478    1252
            ...
34994247       1
34934321       1
34992292       1
34930814       1
34990383       1
Name: count, Length: 1732, dtype: int64

In [29]:
df.dtypes

Member         object
Order           int64
SKU             int64
Created On     object
Description    object
dtype: object

In [32]:
df["Order"] = pd.to_datetime(df["Order"])
df.head(5)

   Member                         Order       SKU   Created On   Description
0  M09736 1970-01-01 00:00:00.006468572  34993740  41904.94792  Other Sauces
1  M09736 1970-01-01 00:00:00.006468572  15669800  41904.94792       Cashews
2  M09736 1970-01-01 00:00:00.006468572  34989501  41904.94792    Other Dals
3  M09736 1970-01-01 00:00:00.006468572   7572303  41904.94792       Namkeen
4  M09736 1970-01-01 00:00:00.006468572  15669856  41904.94792         Sugar